<h1>Love Sushi</h1>
<p>Track your daily sushi consumption!</p>
<h2>Planning to Eat:</h2>

<ul>
  {{#each sushi}}
    {{#if prepared}}
      {{> sushi-block prepared=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Eaten:</h2>

<ul>
  {{#each sushi}}
    {{#unless prepared}}
      {{> sushi-block prepared=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Sushi History:</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Sushi name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="prepared">Would you like it prepared or have you already eaten it?</label><br>
    <input type="radio" name="prepared" value="1" checked> Prepare<br>
    <input type="radio" name="prepared" value="0"> Eaten
  </div>

  <button type="submit">Order Up!</button>
</form>
